.vs/
packages/
CapaPresentacion/bin/
CapaPresentacion/obj/
CapaDatos/bin/
CapaDatos/obj/
CapaEntidad/bin/
CapaEntidad/obj/
CapaNegocio/bin/
CapaNegocio/obj/
CapaDatos/Conexion.cs
CapaPresentacion/Web.config