body {
    background-image: url("../img/loginImg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


a {
    color: white;
    text-decoration: none;
}

    a:hover {
        background-color: #367586;
        color: white;
    }

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: red;
    }